{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}



{% block head %}
{% endblock head %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="jumbotron jumbotron-fluid bg-light col-md-10">
            <div class="container">
                <h2 class="display-4">The man is lazy, leaving nothing!</h2>
                <p class="muted"><small>这个人很懒，什么也没有留下。</small></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>2021.04.21 Note </h4>
                    <p>
                        和你在一起的日子才叫时光，否则只是时钟毫无意义的摇摆。
                    </p>
                    <a href="" class="btn bg-dark btn-primary btn-sm">detail &raquo;
                    </a>
                </div>
                <div class="panel-footer text-right"><small class="text-muted">04/05/2021</small></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4> 静静的顿河</h4>
                    <p>
                           我们的光荣土地不用犁铧耕耘，我们的土地用马蹄来耕耘，我们的光荣土地上播撒的是哥萨克的头颅，静静的顿河上装饰着守寡的年轻妇人。
                    </p>
                    <a href="" class="btn bg-dark btn-primary btn-sm">detail &raquo;
                    </a>
                </div>
                <div class="panel-footer text-right"><small class="text-muted">04/03/2021</small></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>百年孤独</h4>
                    <p>
                        无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。
                    </p>
                    <a href="" class="btn bg-dark btn-primary btn-sm">detail &raquo;
                    </a>
                </div>
                <div class="panel-footer text-right"><small class="text-muted">04/05/2021</small></div>
            </div>

        </div>
    </div>
</div>
<!-- <div class="mx-auto text-center">
    <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
    <h2 class="text-white-50 mx-auto mt-2 mb-5">A free word check here for learning! </h2>
    <a class="btn btn-primary js-scroll-trigger" href="/check/">Get Started</a>
</div> -->
{% endblock body %}