{% extends 'base.html' %}
{% load static %}
{% block title %}
Forget Password
{% endblock title %}

{% block body %}
<div class="container">

    <form action="/forget/" method="POST" class="col-md-4 col-xs-8 col-md-offset-4 col-xs-offset-2">
        {% csrf_token %}
        {% if message %}
        {% ifequal status 'success' %}
        <div class="alert alert-success" role="alert">{{ message }} </div>
        {% else %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endifequal %}
        {% endif %}

        <h4 class="text-center">Forget Password</h4>

        <div class="form-group">
            {{ forget_form.username.label_tag }} {{ forget_form.username}}
        </div>
        <div class="form-group">
            {{ forget_form.email.label_tag }} {{ forget_form.email}}
        </div>
        <div class="form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#forgetModal">
                    send
                </button>
        </div>

        <div class="modal fade" id="forgetModal" tabindex="-1" role="dialog" aria-labelledby="forgetModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="forgetModalLabel">确定</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">是否发送重置密码邮件吗？</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    {% endblock body %}

    {% block script %}
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    {% endblock script %}